/* HEADER */

#sectionHeader {
    padding: var(--var-unit);
    @include flex(row,center,center);
    background-color: var(--main-bg-color--1);
    margin: 0;
    height: 100%;
    align-self: stretch;
    justify-self: stretch;
  
    .sectionHeader__LogoyHuapi {
        @include flex(row,stretch,center);
        align-self: flex-start;

        .sectionHeader__logo {
            height: calc(6*var(--var-unit)); 
            padding-left: var(--var-unit);
            padding-right: var(--var-unit);
        }
    }
    .navbar {
        .box {
            display: none;
        }
    }
    
}

        .menu {
            display: flex;
            flex-direction: row;
            font-size: calc(3 * var(--var-unit));
            margin: 0;
        }

        header li {
            color: gray;
            padding-left: calc(0.5*var(--var-unit));
            padding-right: calc(0.5*var(--var-unit));
        }

@media screen and (max-width: 820px) {
        #sectionHeader {
            align-items: flex-start;
    
            .boton_navegador {
                align-self: center;
                justify-self: center;
            }
    
            .sectionHeader__logo {
                height: calc(4*var(--var-unit)); 
    
                .sectionHeader__Huapi {
                    height: 60px;
                }
            }
    
            .line {
                display: none;
            }
        }
    }

@media (max-width:992px) {
    #sectionHeader {
        justify-content: space-around;

        .line {
            display: none;
        }

        .menu {
            font-size: 1.5rem;
            width: fit-content;
            flex-direction: column;
        }

        .navbar {
            flex-direction: row;
            align-content: center;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            justify-content: space-evenly;

            .box {
                display:block;
                width: 26rem;
                height: 10rem;
            }

            .navbar-nav {
                align-items: flex-end;
            }
        }

        .collapse:not(.show) {
            display: none;
        }
        .navbar-collapse {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}

@media screen and (max-width: 408px) {
    #sectionHeader {
        .navbar {
            .box {
                display:none;
            }
        }

        .navbar-collapse {
            justify-content: flex-end;
        }
    }
}
