/* PANTALLA DE EXPERIENCIAS CON HUAPI */
.main__index {
    .main__index__contenedorUno {
        .sectionExp {
            @include flex(column, center, center);
            padding-top: calc(1*var(--var-unit));
            padding-bottom: calc(3*var(--var-unit));
            background-color:var(--main-bg-color--2);
            width: 800px;
    
            .tituloExp {
                align-self: flex-start;
                padding: var(--var-unit);
                margin: var(--var-unit);
                max-width: calc(100*var(--var-unit));
                font-size: calc(2*var(--var-unit));
                color: var(--var-font-color);
    
                h1 {
                    @include flex(row, stretch, center);
                }
            }
    
            .reseña {
                @include flex(row, space-evenly, center);
                align-self: center;
                border: solid calc(0.2*var(--var-unit)) black;
                border-radius: var(--var-unit);
                background-color: var(--main-bg-color--3);
                color: var(--var-font-color);
                padding-bottom: calc(0.5*var(--var-unit));
                padding-left: calc(0.5*var(--var-unit));
                margin: var(--var-unit);
                width: 90%;

                .resbox {
                    @include sizewh(17.5rem,10rem);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                }
            }
        }
    }
}


@media screen and (max-width: 820px) {       

    .main__index {
        .main__index__contenedorUno {

            .sectionExp {
                width: 100%;
    
                .reseña {
    
                    .card-img-top {
                        width: 10rem;
                        height: 10rem;
                    }
                }
            }
        }
    }
}