/* VARIABLES */

:root {
    /* --main-bg-color: rgba(80, 252, 74, 0.897); */
    /* --main-bg-color: rgba(236, 255, 125, 0.897); */
    /* --main-bg-color: #58D68D; */
    --main-bg-color--1:#F4D03F ;
    --main-bg-color--2:#58D68D ;
    --main-bg-color--3:#ABEBC6;
    --var-unit: 0.7rem;
    --var-font-color:rgb(8, 80, 139);
}